[submodule "components/esp32-wifi-manager"]
	path = components/esp32-wifi-manager
	url = https://github.com/tonyp7/esp32-wifi-manager.git
[submodule "components/esp32-modbusTCP2RTU-gateway-lib"]
	path = components/esp32-modbusTCP2RTU-gateway-lib
	url = https://github.com/ololoshka2871/esp32-modbusTCP2RTU-gateway-lib.git
